# Node / Next.js
node_modules/
.next/
.env.local
out/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Golang
/backend/main
/backend/*.exe

# Docker & ENV
.env
docker-compose.override.yml

# OS & editor junk
.DS_Store
Thumbs.db
.vscode/
