@import '../styles/variables.scss';

/**
  * Start downloading custom fonts as soon as possible.
  */
@font-face {
  font-family: 'aktiv-grotesk';
  font-weight: 400;
  font-display: swap;
  src: url('#{$FONTS_BASE_URL}/aktiv-grotest-400.woff2') format('woff2'),
  url('#{$FONTS_BASE_URL}/aktiv-grotest-400.woff') format('woff'),
  url('#{$FONTS_BASE_URL}/aktiv-grotest-400.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'aktiv-grotesk';
  font-weight: 700;
  font-display: swap;
  src: url('#{$FONTS_BASE_URL}/aktiv-grotest-700.woff2') format('woff2'),
  url('#{$FONTS_BASE_URL}/aktiv-grotest-700.woff') format('woff'),
  url('#{$FONTS_BASE_URL}/aktiv-grotest-700.eot') format('embedded-opentype');
}

/**
  * reset.css
  * http://meyerweb.com/eric/tools/css/reset/
  * v2.0 | 20110126
  * License: none (public domain)
  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  * Our global resets
  */

/**
  * Best practice from http://callmenick.com/post/the-new-box-sizing-reset
  * TLDR: It’s easier to override and a slight performance boost.
  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;

  [type='button'] {
    appearance: none;
  }
}

body {
  background-color: $bodyBg;
  color: $bodyColor;
  font-size: 16px;
  line-height: 24px;
}

/**
   * Form elements don't inherit font settings.
   * https://stackoverflow.com/questions/26140050/why-is-font-family-not-inherited-in-button-tags-automatically
   */
html,
body,
input,
select,
optgroup,
textarea,
button {
  font-weight: $font-weight-regular;
  font-family: $font-default;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

pre,
code {
  font-family: $font-mono;
}

/** end reset */

/**
  * Global styles
  */

/* Headline styles */
.headlineOne {
  font-size: 32px;
  line-height: 36px;
}

.headlineTwo {
  font-size: 24px;
  line-height: 28px;
}

.headlineThree {
  font-size: 20px;
  line-height: 24px;
}

.headlineFour {
  font-size: 18px;
  line-height: 24px;
}

/* Body styles */
.bodyOne {
  font-size: 16px;
  line-height: 24px;
}

.bodyTwo {
  font-size: 14px;
  line-height: 20px;
}